@import "/themes/default/styles";
@import "charts";

body {
    font-size: 16px;
}

.navbar-fixed-top
{
    height: 73px;
    background-color: $kingsdarkgrey;
    padding-left: 100px;

    .navbar-brand {
        img.openstack-logo {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 0;
            height: 72px;
            width: 95px;
        }
    }

    .navbar-nav > li > a.dropdown-toggle {
        color: #fff !important;
        padding: 25px 10px;

        &:hover {
            color: #333 !important;
        }
    }

    > .navbar-collapse {
        margin-top: 18px;
        background-color: $kingsdarkgrey;
    }
}

#main_content {
    padding-top: 83px;
}

@media (min-width: 768px) {
    .navbar-fixed-top > .navbar-collapse {
        margin-top: 0;
    }
}

.pie-chart .svg-pie-chart .slice.usage